<!DOCTYPE html>
<html>
<%
var avaliable_times = JSON.stringify(times);
var avaliable_types = JSON.stringify(types);
var user_id = user._id;
var data_u = data;
var arr = [];
for(var i=0; i < data_u.length; i++) {
  obj = data_u[i];
  obj_string = JSON.stringify(obj);
  arr.push(obj_string);
}
%>
<head>
  <% include ../templates/head.ejs %>
</head>

<body>
    <div id="wrapper">
        <div id="sidebar-wrapper">
            <div class="avatar-content">
              <% include ../templates/avatar.ejs %>
            </div>
            <div class="navigation-bar">
              <% include ../templates/nav.ejs %>
              <% if(admin && admin == true) { %>
                <% include ../templates/admin_nav.ejs %>
              <% }  %>
            </div>
        </div>
        <div class="page-content-wrapper">
            <div id="nav-top-bar" class="nav-top-bar">
                <div class="row" id="nav-top-bar-row">
                    <div class="col-md-8" id="titles">
                        <h1 class="nav-top-bar-header">My Account </h1>
                        <p class="nav-top-bar-para">Change your account settings / preferences.</p>
                    </div>
                </div>
            </div>
            <div id="main-content-area" class="main-content-area">
                <div class="container-fluid">
                    <div id="main-content-header-account" class="main-content-area-header" style="margin-bottom:0">
                        <h1 class="main-content-area-header-heading">Account Preferences</h1>
                        <p class="main-content-area-header-para">Change your accounts preferences here...</p>
                    </div>
                    <div id="main-content-area-children">
                        <div class="main-content-area-inside-account">
                            <div class="form-group">
                                <label class="control-label main-content-area-form-label">Email </label>
                                <input class="form-control input-lg" type="text" value="<%= user.email %>" disabled="">
                            </div>
                            <div class="form-group">
                                <label class="control-label main-content-area-form-label">Full Name</label>
                                <input class="form-control input-lg" value="<%= user.name %>" id="full_name" type="text">
                            </div>
                            <div class="form-group">
                                <label class="control-label main-content-area-form-label">Bio </label>
                                <textarea class="form-control" rows="10" id="bio"><%= user.bio %></textarea>
                            </div>
                            <button class="btn btn-default" id="save_changes" type="button">Save Changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <% include ../templates/modals/api.ejs %>
    <% include ../templates/modals/account_pref.ejs %>
</body>

</html>
