<%
var avaliable_times = JSON.stringify(times);
var avaliable_types = JSON.stringify(types);
var user_id = user._id;
var data_u = data;
var arr = [];
for(var i=0; i < data_u.length; i++) {
  obj = data_u[i];
  obj_string = JSON.stringify(obj);
  arr.push(obj_string);
}
%>

<!DOCTYPE html>
<html>

<head>
    <% include ../templates/head.ejs %>
</head>

<body>
    <div id="wrapper">
        <div id="sidebar-wrapper">
            <div class="avatar-content">
                <% include ../templates/avatar.ejs %>
            </div>
            <div class="navigation-bar">
                <% include ../templates/nav.ejs %>
                <% if(admin && admin == true) { %>
                  <% include ../templates/admin_nav.ejs %>
                <% }  %>
            </div>
        </div>
        <div class="page-content-wrapper">
            <div id="nav-top-bar" class="nav-top-bar">
                <div class="row" id="nav-top-bar-row">
                    <div class="col-md-8" id="titles">
                        <h1 class="nav-top-bar-header">Dashboard </h1>
                        <p class="nav-top-bar-para">Welcome to the Home of Oldfield's Parents Evening Application</p>
                    </div>
                    <div class="col-md-4 nav-top-bar-buttons" id="buttons">
                        <button class="btn btn-default" type="button" id="bookappointmentbutton"><i class="glyphicon glyphicon-plus"></i>Book an Appointment</button>
                        <button class="btn btn-default" type="button" id="parentseveningbooking"><i class="glyphicon glyphicon-plus"></i>Parents Evening Booking</button>
                    </div>
                </div>
            </div>
            <div id="main-content-area" class="main-content-area">
                <div class="container-fluid">
                    <div id="main-content-header-appointments" class="main-content-area-header" style="margin-bottom:0">
                      <div class="row">
                        <div class="col-md-8">
                          <h1 class="main-content-area-header-heading">Appointments </h1>
                          <p class="main-content-area-header-para">View all of your appointments...</p>
                        </div>
                        <div class="col-md-4" id="buttons">
                            <button class="btn btn-default" type="button" onclick="window.location='<%- button_url %> '"><%= button_text %></button>
                        </div>
                      </div>
                    </div>
                    <div id="main-content-area-appointments">
                        <div class="main-content-area-inside">
                            <div class="row main-content-adjustment">

                              <%
                              function isOdd(num) {
                                if(num % 2 == 0) {
                                  return false;
                                } else {
                                  return true;
                                }
                              }

                              if(appointments.length) {
                                counter = 1;
                                for(var i=0; i < appointments.length; i++) {
                                var status = appointments[i].status;
                                var status_converted = getStatus(status);
                                    %><div class="col-md-6 appointment-column">
                                        <div>
                                            <div class="row">
                                                <div class="col-md-7">
                                                    <h3 class="appointment-column-title"><span class="teacherUUID_<%= appointments[i].teacher_id %>"></span></h3>
                                                    <ul class="appointment-buttons">
                                                      <li><button onclick='apiSwal("Cancel this appointment?", "Please confirm you want to cancel this appointment.", "warning", "Cancel Appointment", "Close", "Appointment has been cancelled!", "/api/delete_appointment/" + "<%= appointments[i]._id %>")' class="link"><i class="glyphicon glyphicon-trash"></i> Cancel</button></li>
                                                      <li><button onclick='redirectSwal("Are you sure?", "Yes", "/main/view_appointment/" + "<%= appointments[i]._id %>")' class="link"><i class="glyphicon glyphicon-file"></i> View</button></li>
                                                    </ul>
                                                    <p class="appointment-column-date"><%= appointments[i].date %></p>
                                                    <p class="appointment-column-time"><%= appointments[i].time %></p>
                                                </div>
                                                <div class="col-md-5">
                                                  <p class="<%= status_converted.class %>"><%= status_converted.name %></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                  <%
                                  }
                              } else {
                                %>
                                <div style="padding-top:0px" class="col-md-12 appointment-column-na">
                                  <p class="appointment-column-date">You have no appointments scheduled.</p>
                                </div>
                                <%
                              }%>
                                <!--<div class="col-md-6 appointment-column">
                                    <div>
                                        <div class="row">
                                            <div class="col-md-9">
                                                <h3 class="appointment-column-title">Mr Stewart</h3>
                                                <p class="appointment-column-title-type">HISTORY TEACHER</p>
                                                <p class="appointment-column-date">5TH JUNE 2017</p>
                                                <p class="appointment-column-time">6:00pm - 6:05pm</p>
                                            </div>
                                            <div class="col-md-3"><a href="#" class="link-cancel"><i class="glyphicon glyphicon-trash link-cancel-appointment"></i></a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 appointment-column-odd">
                                    <div>
                                        <div class="row">
                                            <div class="col-md-9">
                                                <h3 class="appointment-column-title">Mr Heuff</h3>
                                                <p class="appointment-column-title-type">science teacher</p>
                                                <p class="appointment-column-date">6TH JUNE 2017</p>
                                                <p class="appointment-column-time">4:00pm - 4:05pm</p>
                                            </div>
                                            <div class="col-md-3"><a href="#" class="link-cancel"><i class="glyphicon glyphicon-trash link-cancel-appointment"></i></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                    </div>
                    <div id="main-content-area-header-children" class="main-content-area-header" style="margin-bottom:0">
                        <h1 class="main-content-area-header-heading">My Children</h1>
                        <p class="main-content-area-header-para">View all children currently under your name in Oldfield School</p>
                    </div>
                    <div id="main-content-area-children">
                        <div class="main-content-area-inside-children">
                            <div class="row main-content-adjustment">
                              <%if(data.length) {
                                counter = 1;
                                for(var i=0; i < data.length; i++) {
                                  var name = data[i].name;
                                  var picture_url = data[i].picture_url;
                                  if(picture_url == "") {
                                    picture_url = "http://www.sheffield.com/wp-content/uploads/2013/06/placeholder.png";
                                  }
                                  %>
                                  <div class="col-md-6 main-content-area-child">
                                      <div><img class="avatar-image-small-circle" src="<%- picture_url %>">
                                          <h1 class="avatar-student-name"><%= name %></h1>
                                          <p class="avatar-student-year">Year <%= year_utils.year(data[i].dob) %></p>
                                      </div>
                                  </div>
                                  <% }
                                } else {
                                  %>
                                  <div style="padding-top:0px" class="col-md-12 appointment-column-na">
                                    <p class="appointment-column-date">You have no students!</p>
                                  </div>
                                  <%
                                }%>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input id="t_data_store" type="hidden">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <% include ../templates/modals/api.ejs %>
    <% include ../templates/modals/dashboard.ejs %>
</body>

</html>
